@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.banner {
  width: 100%;
  height: 120vh;
  background-image: url("./images/banking.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  color: black;
  font-weight: 700 !important;
  font-size: large;
}
h2,
h5 {
  color: #fff;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.para-text {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: monospace;
  color: #fff;
  background-color: black;
}

body {
  background-color: #eee;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: black !important;
  height: 100% !important;
}
.card:hover {
  cursor: pointer;
  overflow: hidden;
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-content {
  padding: 3rem;
  background-color: black;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.03);
  font-size: large;
  color:white;
}

.card-text {
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: whitesmoke;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: monospace;
}

.form-select {
  font-size: 1.2rem !important;
}
.text-center {
  text-align: center !important;
}

button {
  background-color: transparent;
  border: 2px solid #009688;
  border-radius: 45px !important;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  font-family: monospace !important;
  font-size: 12px !important;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 15px 20px;
  text-align: center;
  width: 70%;
}

button:hover {
  color: #fff;
  background-color: #009688;
}
footer{
  margin-top: auto;
}